PORT=8000
mongodb+srv://pankajmall455_db_user:<db_password>@cluster0.iqgh0eu.mongodb.net/?appName=Cluster0
ACCESS_TOKEN_SECRET=yt backend
ACCESS_TOKEN_EXPIRES=1d
REFRESH_TOKEN_SECRET=yt backend
REFRESH_TOKEN_EXPIRES=10d